<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers Analytics</title>
</head>
<link rel="stylesheet" href="/css/other.css">
<style>
    .box{
        width: 20vw;
    }
</style>
<body>
    <div class="upper"></div>
    <div class="lower"></div>

    <header>
        <img class="dash" src="./images/speedometer.png" height="40px" width="40px" alt="">
        <h3>AmatShop</h3>
        <div class="pageLinks">
            <a href="/">Dashboard</a>
            <a href="/product">Products</a>
            <a href="/order">Orders</a>
            <a href="">Customers</a>
        </div>
        <div class="user">
            <img src="" alt="u">
        </div>
    </header>

    <main>
        <div class="boxes">
            <div class="box">
                <h5>Revenue</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Customers</h5>
                <h4>Total Number</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Repeat Purchase Rate</h5>
                <h4>Total rate</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Cancellation Rate</h5>
                <h4>Total rate</h4>
                <h6>Profit %</h6>
            </div>
            <!-- <div class="box">
                <h5>Discounts</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Refund</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div> -->
            
        </div>

        <div class="graph">
            graph of revenue and order
        </div>
    </main>
</body>

</html>