<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Analytics</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #8e8e8e;
    }

    .upper{
        height: 50vh;
        background: #090135;
        width: 95vw;
        margin: auto;
    }
    .lower{
        height: 50vh;
        background:  #bcbcbc;
        width: 95vw;
        margin: auto;
    }

    header {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        position: absolute;
        top: 2%;
        left: 4%;
        color: white;
    }
    .pageLinks{
        display: flex;
        gap: 15%;
        width: 40vw;
        /* border: 2px solid red; */
    }
    .pageLinks a{
        color: white;
        text-decoration: none;
    }
    .user{
        border: 1px solid white;
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }
    .user img{
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }

    .boxes{
        position: absolute;
        top: 20%;
        left: 4%;
        display: flex;
        width: 92vw;
        justify-content: space-between;
    }
    .box{
        border: 1px solid white;
        border-radius: 10px;
        width: auto;
        width: 13vw;
        height: 18vh;
        text-align: center;
        line-height: 2rem;
        color: black;
        background: white;
        font-size: 1.2rem;
    }

    .graph{
        position: absolute;
        top: 40%;
        left: 4%;
        width: 92vw;
        height: 55vh;
        border-radius: 10px;
        background: rgb(224, 223, 223);
    }
    
</style>

<body>
    <div class="upper"></div>
    <div class="lower"></div>

    <header>
        <h3>AmatShop</h3>
        <div class="pageLinks">
            <a href="/">Dashboard</a>
            <a href="/orders">Orders</a>
            <a href="/products">Products</a>
            <a href="/customers">Customers</a>
        </div>
        <div class="user">
            <img src="" alt="u">
        </div>
    </header>

    <main>
        <div class="boxes">
            <div class="box">
                <h5>Revenue</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Orders Paid</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Net Profit</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Avg. Order Value</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Discounts</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Refund</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            
        </div>

        <div class="graph">
            graph of revenue and order
        </div>
    </main>
</body>

</html>