<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Analytics</title>
</head>
<link rel="stylesheet" href="/css/other.css">

<body>
    <div class="upper"></div>
    <div class="lower"></div>

    <header>
        <img class="dash" src="./images/speedometer.png" height="40px" width="40px" alt="">
        <h3>AmatShop</h3>
        <div class="pageLinks">
            <a href="/">Dashboard</a>
            <a href="/products">Products</a>
            <a href="">Orders</a>
            <a href="/customers">Customers</a>
            <!-- <a href="/sales">Sales</a> -->
        </div>
        <div class="user">
            <img src="" alt="u">
        </div>
    </header>

    <main>
        <div class="boxes">
            <div class="box">
                <h5>Revenue</h5>
                <h4 id="orderRevenue">$<%= totalRevenue%></h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Orders Paid</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Net Profit</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Avg. Order Value</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Discounts</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Refund</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            
        </div>

        <div class="graph">
            graph of revenue and order
        </div>
    </main>
</body>
<script src="/js/dataGenerator.js"></script>
</html>