<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Analytics</title>
</head>
<link rel="stylesheet" href="/css/other.css">

<body>
    <div class="upper"></div>
    <div class="lower"></div>

    <header>
        <img class="dash" src="./images/speedometer.png" height="40px" width="40px" alt="">
        <h3>AmatShop</h3>
        <div class="pageLinks">
            <a href="/">Dashboard</a>
            <a href="">Products</a>
            <a href="/order">Orders</a>
            <a href="/customer">Customers</a>
            <!-- <a href="/sales">Sales</a> -->
        </div>
        <div class="user">
            <img src="" alt="u">
        </div>
    </header>

    <main>
        <div class="boxes">
            <div class="box">
                <h5>Revenue</h5>
                <h4>Total Amount</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Quantity</h5>
                <h4>Total Number</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Distinct Products</h5>
                <h4>Total Number</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Avg. Product Price</h5>
                <h4>Total price</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Markup</h5>
                <h4>Total %</h4>
                <h6>Profit %</h6>
            </div>
            <div class="box">
                <h5>Profit Margin</h5>
                <h4>Total %</h4>
                <h6>Profit %</h6>
            </div>
            
        </div>

        <div class="graph">
            graph of revenue and avg product price
        </div>
    </main>
</body>

</html>